<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
</head>
<body>
	<form>
		<div>Email: {{data[2]}}</div>
		username:<br/>
		<input type="text" name="uname" value="{{data[3]}}"><br/>
		enter new password:<br/>
		<input type="password" name="newPassword"><br/>
		retype new password:<br/>
		<input type="password" name="retypeNewPassword"><br/>
		current password:<br/>
		<input type="password" name="currentPassword"><br/>
		<input type="submit" name="submit" value="Save"><br/>
	</form>
</body>
</html>